<nav class="bg-[--tk-background-primary]">
  <div class="p-4 flex">
    <span slot="logo" class="text-[--tk-text-primary] font-bold text-lg">AltSchool Africa Frontend JavaScript Tutorial </span>
    <div class="flex ml-auto justify-center items-center text-[--tk-text-heading]">
      <a href="https://javascript.oluwasetemi.dev/56" target="_blank"> Class Note </a>
      <slot name="theme-switch" />
      <slot name="open-in-stackblitz-link" />
      <slot name="login-button" />
    </div>
  </div>
  <div class="border border-bottom-2 border-amber" />
</nav>
